<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253994998931-4fdimavn58jfi6ssoeb57m7s4kc3ef42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253994998931-4fdimavn58jfi6ssoeb57m7s4kc3ef42</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>253994998931-0pf50iucr50revrhjosfenam3hd7id5q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9KS6x1TG4Wk88DdhR-9IOSLkGRZG5gYM</string>
	<key>GCM_SENDER_ID</key>
	<string>253994998931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connectio.imgrateful</string>
	<key>PROJECT_ID</key>
	<string>i-m-grateful</string>
	<key>STORAGE_BUCKET</key>
	<string>i-m-grateful.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253994998931:ios:d3fa112b629d3c3bb64166</string>
	<key>DATABASE_URL</key>
	<string>https://i-m-grateful.firebaseio.com</string>
</dict>
</plist>